.body {
    background-color: rgb(248, 235, 243);
    font-family: 'Arimo', sans-serif;;
}

.navbar {
    background-color: rgb(110, 48, 71);
}

.tituloPagina {
    font-family: 'Anton', sans-serif;
}

.contact {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container {
    padding: 20px;
}

.table-responsive {
    padding: 40px;
}

.footer {
    background-color: rgb(194, 125, 172);
    padding: 20px;
}

.footertext {
    display: flex;
    justify-content: center;
    align-items: center;
}